# Image data directories
train_images/
train_masks/
train_masks_augmented/
models/
test_authentic_100/
test_forged_100/
test_forged_all/
test_images/
validation_images/
validation_masks/
log/

# Backup and other large directories
BACKUP/
inspection/
output/
unet/
temp/

# File types
*.pth
*.zip
*.npy

# Python
__pycache__/
.ipynb_checkpoints/
